.article{
  position: fixed;
  top: 0;
  left: 75px;
  height: 60px;
  width: fit-content;
  background-color: transparent;
  z-index: 3;
  transition: all 0.8s ease-in-out;
  transition-timing-function: 0.8s ease-in-out;
}

.div{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flags{
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.flag{
  width: 25px;
}

.flag img{
  width: 100%;
}

.languages{
  display: flex;
  align-items: center;
  gap: 10px;
}


.language{
  cursor: pointer;
  font-family: navBarLinks;
  font-size: 11.5px;
  padding: 0rem 0.3rem;
}

.language span{
  position: relative;
}

.language .chosenLanguage::after{
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  background-color: white;
  position: absolute;
  top: -5px;
  width: 100%;
}

.language span::before{
  content: "";
  position: absolute;
  bottom: -1.5px;
  height: 1px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.language .active::before{
  transform: scaleX(1);
}

.language span:hover::before{
  transform: scaleX(1);
}

