.article{
  z-index: 999;
  background-color: rgb(0, 0, 0, 0.40);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}


.div{
  background-color: white;
  padding: 48px;
  width: 60vw;
  position: relative;
}

.div .subTitle{
  border-bottom: 1px solid #eae8e4;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.1428571428571428;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 32px 0px 24px;
  flex: 1 1 100%;
  margin-top: 0 !important;
  padding-top: 0 !important;
}


.inputs{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loginInput{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loginInput span{
  color: #666565;
  font-family: LVRegular;
  font-size: 14px;
  margin-bottom: 0.5vh;
}

.loginInput input{
  width: 100%;
  border: 1px solid #eeeded;
  border-radius: 0.1rem;
  padding: 1.5vh 1vw;
  font-size: 13.5px;
  letter-spacing: 0.5px;
  font-family: LVRegular;
  transition: border 0.4s ease;
}



.loginInput input:hover{
  border-bottom: 1px solid #1f1f1f;
}

.loginInput input::placeholder{
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
}

.loginInput input:focus{
  outline: none;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #1f1f1f;
}

.validEmail{
  position: absolute;
  top: 50%;
  right: 27px;
  transform: translateY(-50%);
  transition: opacity 0.4s ease;
}

.validEmail i{
  color: #469246;
  font-size: 12px;
}


.blackButton{
  padding: 1rem 0rem;
  width: 50%;
  padding-bottom: 0rem;
}

.blackButton button{
  background-color: #1f1f1f;
  color: white;
  font-family: LVRegular;
  border: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  width: 100%;
  border-radius: 1px;
  padding: 1rem;
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  cursor: pointer;
}

.close i{
  color: #1f1f1f;
  font-size: 20px;
}


/* PASSWORD GUIDE */


.passwordGuide{
  margin-top: -10px;
  font-family: LVRegular;
  flex-direction: column;
  padding: 0rem 0.7vw;
  display: none;
}


.passwordGuide span{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13.5px;
  letter-spacing: 0.5px;
}

.specialCharacters{
  color: #777777;
}

.seePassword{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7px;
}

.seePassword i{
  font-size: 11px;
}