.container{
  min-height: 100vh;
}

.title{
  font-family: Futura;
  text-align: center;
  padding: 2rem 0rem;
  background-image: linear-gradient(
  0deg,
  hsl(27deg 24% 18%) 0%,
  hsl(27deg 24% 17%) 20%,
  hsl(26deg 24% 16%) 42%,
  hsl(26deg 24% 14%) 54%,
  hsl(25deg 25% 13%) 63%,
  hsl(25deg 25% 12%) 71%,
  hsl(24deg 25% 11%) 79%,
  hsl(25deg 27% 10%) 86%,
  hsl(26deg 31% 8%) 93%,
  hsl(26deg 39% 7%) 100%
);
  border-bottom: 1px solid whitesmoke;
}

.title h2{
  color: whitesmoke;
  letter-spacing: 5px;
  font-size: 1.3rem;
}

.subHeader{
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 48px;
  padding-bottom: 0px;
}
.subHeaderLeft{
  display: flex;
  align-items: center;
  width: 40%;
}

.dropdownDiv{
  position: relative;
}

.filters{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35%;
  padding: 0px 48px;
  gap: 20px;
}

.filters2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 35%;
  padding: 0px 48px;
  gap: 20px;
}

.filterBy{
  white-space: nowrap;
  font-family: LVRegular;
  font-size: 14px;
}


.loginInput{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.loginInput span{
  color: #666565;
  font-family: LVRegular;
  font-size: 14px;
  margin-bottom: 0.5vh;
}

.loginInput input{
  width: 100%;
  border: 1px solid #eeeded;
  border-radius: 0.1rem;
  padding: 1.5vh 1vw;
  font-size: 13.5px;
  letter-spacing: 0.5px;
  font-family: LVRegular;
  transition: border 0.4s ease;
}



.loginInput input:hover{
  border-bottom: 1px solid #1f1f1f;
}

.loginInput input::placeholder{
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
}

.loginInput input:focus{
  outline: none;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #1f1f1f;
}


.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 3px;
}

.pagination span{
  font-family: LVRegular;
  font-size: 12px;
  letter-spacing: 1px;
}


.pagination i{
  cursor: pointer;
  font-size: 18px !important;
}


.filterContainer{
  display: flex;
  align-items: center;
}

.filterButton{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.filterButton button{
  padding: 0.4rem 1rem;
  border-radius: 50px;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: LVRegular;
  font-size: 12.5px;
  letter-spacing: 0.8px;
  background-color: transparent;
  border: 1px solid #1f1f1f;
}

.subHeaderLeft .itemsLength{
  font-family: LVRegular;
  font-size: 14.5px;
}

.subHeaderLeft .totalItems{
  font-size: 12px;
}


.sortBy{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tailSpin{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
}


.items{
  padding: 1rem 0rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 3rem;
}