.sections{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #eae8e4;
  transition: all 0.6s ease;
  transition-timing-function: 0.6s ease;
}

.sections.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #eae8e4;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  margin-right: 12vw;
  font-family: navBarTitle;
  letter-spacing: 2px;
}

.logo span{
  font-family: LVOblique;
  padding-right: 2px;
}

.logo h5{
  margin: 0;
  margin-top: 4px;
}

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid #eae8e4;
  padding: 30px;
  font-size: 14px;
  font-family: LVRegular;
  font-weight: 900;
  letter-spacing: 0.5px;
  border-bottom: 1px solid transparent;
  transition: border 0.4s ease;
  cursor: pointer;
}

.section:hover{
  border-bottom: 1px solid #1f1f1f;
}