@font-face {
  font-family: "futuraStd";
  src: local("futuraStd"), url("./Fonts/FuturaStd-Medium.woff2") format("woff2");
}
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

/* header front */

.header-links {
  display: flex;
  background: transparent;
}
.header-links p {
  color: #ffffff;
  background: transparent;
  font-family: "futuraStd";
  font-weight: 900;
  transition: all 0.4s ease;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.header-links p:hover {
  color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}
.header {
  position: relative;
  background: #0e0e0e;
  padding: 2rem;
  width: 100%;
  gap: auto;
  overflow-x: hidden;
  z-index: 1201;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header p {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.toggleMenuHome {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 1);
  background-color: #ececec48;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  gap: 20px;
  padding: 20px 0;
  z-index: 1201;
  text-align: center;
  transition: transform 0.5s ease-out;
  transform: translateX(-100%);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(24, 24, 24, 0.795);
  z-index: 1200;
  display: none;
}
.overlay.open {
  display: block;
}
.toggleMenuHome.open {
  transform: translateX(0);
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  z-index: 1202;
  letter-spacing: 1.5px;
  font-family: "futuraStd";
  font-size: 15px !important;
  border-bottom: none !important;
  text-transform: capitalize !important;
  cursor: pointer;
}
.textMenu {
  cursor: pointer;
  font-family: "futuraStd";
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu-content p:hover {
  color: #888;
}
.nameToggleSub {
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 2px;
}

/* SUBMENU */

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  background: transparent;
  margin: 8px 0 8px 150px;
  color: #131313;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  border-left: 1px solid #222222;
}

.submenu p {
  padding-left: 1rem;
  text-align: left;
  text-transform: capitalize !important;
  margin-bottom: 20px;
}
.submenu.open {
  max-height: 600px;
}

/* FOOTER */

.footer {
  bottom: 0;
  left: 0;
  background: #0e0e0e;
  box-shadow: 0 -8px 10px -6px rgba(0, 0, 0, 1);
  padding: 1.5rem;
  height: fit-content;
  font-family: "futuraStd";
  margin-bottom: -10px;
  display: flex;
  gap: 30px;
  letter-spacing: 1.2px;
  justify-content: space-between;
  align-items: start;
  color: rgb(150, 150, 150);
  width: 100%;
  overflow: hidden;
}

.footer span {
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 14px;
}

.footer p {
  font-weight: bold;
  font-size: 25px;
  font-family: "futuraStd";
  color: rgb(150, 150, 150);
}

/* LANDING */
.landing {
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  background: #0e0e0e;
}

.contentLanding {
  position: relative;
  background: #0e0e0e;
  margin-top: 180px;
  margin-bottom: 200px;
  /* flex: 1; */
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 !important;
  z-index: 1200;
}
.menuLanding {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-right: 20px;
  cursor: pointer;
  padding: 5px;
}

/* LANDING - SEE ALL COLLECT */

.seeAllCollections {
  font-size: 30px;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
  z-index: 1200;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.movingHome {
  margin-right: 50px;
  display: inline-block;
}
.movingText {
  display: flex;
  animation: moveRight 20s linear infinite;
  cursor: default;
  font-family: "Bacasime Antique";
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.178);
}

.movingContainer {
  overflow: hidden;
  position: relative;
}

.menuLogin {
  font-size: 14px;
  font-weight: 200;
  padding-top: 100px;
  color: #000000;
  text-transform: capitalize;
  font-family: "futuraStd";
  cursor: pointer;
  letter-spacing: 1.3px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}
.containerLogin {
  display: flex;
  justify-content: center;
}
.menuLogin::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.menuLogin:hover {
  border-bottom-color: #000000;
}

/* NAV BAR LANDING */

.menuHome {
  font-size: 15px;
  font-weight: 200;
  color: #a7a7a7;
  font-family: "futuraStd";
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  letter-spacing: 1.3px;
  transition: border-bottom-color 0.3s ease;
}

.menuHome:hover {
  border-bottom-color: #a7a7a7;
}

.titleLanding {
  text-align: center;
  cursor: default;
  width: 100%;
  transition: font-size 0.3s ease, background-color 0.3s;
  position: sticky;
}

.LandingWelc {
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 1);
  font-family: "futuraStd";
  transition: font-size 0.3s ease, background-color 0.3s, margin-left 0.3s ease;
  margin-bottom: 0;
  color: #020202;
  font-weight: 100;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 15px;
}
.loginTitle {
  color: whitesmoke;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.github {
  width: 50px;
  cursor: pointer;
  transition: all 0.6s ease;
  z-index: 1001;
}

.github:hover {
  scale: 1.1;
}

.imgGoogle {
  width: 70%;
}

/* CAROUSEL LANDING GUCCI */

.carousel.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel-inner {
  width: 30%;
  margin: 0 auto;
}

.carousel-fade .carousel-item {
  display: flex;
  justify-content: center;
}
.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel .exploreButton {
  position: sticky;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  font-weight: 500;
  font-family: "futuraStd";
  letter-spacing: 1.8px;
  border-radius: 10px;

  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
}
.exploreButton:hover {
  border: 2px solid rgba(255, 255, 255, 0.87);
}
.exploreButton.fixedButton {
  position: fixed;
  bottom: 70%;
  left: 50%;
  font-family: "futuraStd";
  letter-spacing: 1.8px;
  font-weight: 500;
  transform: translateX(-50%);
  background-color: #000;
  border: none !important;
  transition: all 0.6s ease;
  color: #fff;
  z-index: 1000;
}
.exploreButton.fixedButton:hover {
  scale: 1.04;
}
.exploreButton {
  z-index: 1000;
  transition: opacity 0.3s ease;
}
.exploreButton.fadeOut {
  opacity: 0;
}

.carousel-control-prev,
.carousel-control-next {
  height: 100%;
  width: 3%;
  z-index: 10;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  width: 100%;
}
.brandContainer {
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 180px;
}

.brandName {
  display: flex;
  justify-content: center;
  letter-spacing: 2.5px;
  padding: 10px;
  font-size: 35px;
  cursor: default;
  font-family: "futuraStd";
  color: rgba(156, 156, 156, 0.329);
  background: rgba(7, 7, 7, 0.966);
}

/* CAROUSEL LV */

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  background-color: transparent;
  border: none;
}
.video-carousel-inner {
  width: 100%;
  margin: 0 auto;
}

.video-carousel-item {
  position: relative;
  overflow: hidden;
}

.video-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 35px;
  right: 7vw;
  z-index: 10;
  background: transparent;
}

.volume-slider {
  -webkit-appearance: none;
  display: inline-block;
  width: 120px;
  height: 5px;
  border-radius: 5px;
  background: #6464643f;
  outline: none;
  padding: 0;
  transition: background 0.2s ease;
  z-index: 10;
}
.video-carousel-item img {
  height: 25px;
  background: transparent;
  transition: all 0.3s ease;
}
.video-carousel-item img:hover {
  scale: 1.1;
}
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  transition: background 0.2s ease;
}

.volume-slider:hover::-webkit-slider-thumb {
  background: #c4bfc1;
}
.pause-play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 35px;
  left: 7vw;
  z-index: 10;
  background: transparent;
}

/* MODAL LOGIN */
.loginModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.452);
  z-index: 9999;
}

.login-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 320px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.instruction-text {
  color: rgb(150, 150, 150);
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-card button {
  cursor: pointer;
}

.normal-signin {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  margin-top: 25px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: rgb(255, 145, 222);
  color: #f2f2f2;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.2s;
}

.normal-signin:hover {
  background-color: transparent;
  color: rgb(250, 84, 200);
  border: 2px solid rgb(250, 84, 200);
}

.create-account {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #dfdfdf;
  color: rgb(255, 121, 215);
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.2s;
}

.create-account:hover {
  background-color: transparent;
  color: rgb(250, 84, 200);
  border: 2px solid rgb(250, 84, 200);
}

.alternate-login {
  border: 2px solid yellow;
  margin-top: 5px;
  border-radius: 2em;
}

.instruction-text {
  margin-top: 20px;
  background: transparent;
  color: #575757;
}

.containerLogin {
  background: transparent;
  border: none;
}
.loginGoogle {
  background: transparent;
}

.boxLog {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 5px;
  background: transparent;
}

/* REGISTER */

.input-underline {
  border: none;
  border-bottom: 2px solid #cccccca2;
  outline: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 13px;
  letter-spacing: 1.5px;
  transition: border-color 0.3s;
  width: 70%;
  background-color: transparent;
}

.input-underline:focus {
  border-color: #faa5cc;
}
.input-underline::-webkit-input-placeholder {
  transition: transform 0.3s, opacity 0.3s;
}
.input-underline::-moz-placeholder {
  transition: transform 0.3s, opacity 0.3s;
}
.input-underline:-ms-input-placeholder {
  transition: transform 0.3s, opacity 0.3s;
}
.input-underline::placeholder {
  transition: transform 0.3s, opacity 0.3s;
}
.input-underline:focus::-webkit-input-placeholder {
  transform: translateY(-10px);
  opacity: 0;
}
.input-underline:focus::-moz-placeholder {
  transform: translateY(-10px);
  opacity: 0;
}
.input-underline:focus:-ms-input-placeholder {
  transform: translateY(-10px);
  opacity: 0;
}
.input-underline:focus::placeholder {
  transform: translateY(-10px);
  opacity: 0;
}
.register-btn {
  margin-top: 15px;
  border: none;
  font-weight: 600;
  padding: 4px;
  width: 150px;
  border-radius: 4px;
  letter-spacing: 1.2px;
  color: rgb(250, 84, 200);
  background: wheat;
  transition: all 0.6s ease;
}

.register-btn:hover {
  color: fuchsia;
  scale: 1.04;
}

.signIn {
  margin-top: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.2px;
  color: rgb(250, 84, 200);
  transition: all 0.6s ease;
}

.signIn:hover {
  scale: 1.1;
}

/******************* CHECKOUT ******************************/

.checkOut {
  padding: 25px;
  height: 100vh;
  background: #111111;
}

/****************************** ABOUT ***************** */

.about-container {
  height: 100vh;
  background: #0e0e0e;
}

/* ********************NEW LANDING ***************************** */

.newLanding {
  height: 100vh;
  background-image: url("../public/images/landing.png");
  background-size: cover;
}
.nav-landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(5px);
}
.home-click {
  letter-spacing: 1.8px !important;
  color: rgb(0, 0, 0);
  letter-spacing: 1.5px;
  cursor: pointer;
  font-family: "futuraStd";
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}
.home-click:hover {
  border-bottom-color: rgb(0, 0, 0);
}

.rvl-landing {
  margin-top: 10px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2.5px !important;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  font-family: "futuraStd";
}
/* TOGGLE MENU LANDING */
.toggleMenuLanding {
  position: fixed !important;
  top: 0;
  right: auto;
  left: 0;
  width: 530px;
  height: 100vh;
  background-color: #f5f5f562;
  box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  z-index: 1201;
  text-align: center;
  transition: transform 0.5s ease-out;
  transform: translateX(-100%);
}
.toggleMenuLanding.open {
  transform: translateX(0);
}

.menu-toggle-landing {
  position: fixed;
  top: 0;
  left: 0; 
  padding: 10px 0 0 20px;
  right: auto;
  color: rgb(0, 0, 0);
  font-weight: 600;
  z-index: 1202;
  letter-spacing: 2.5px;
  font-family: "futuraStd";
  font-size: 15px;
  border-bottom: none;
  text-transform: capitalize;
  cursor: pointer;
}

/* Registro de usuario */
.row{
  height: 80px;
}
.card-login {
  width: 530px;
  background: #ffffff8c;
  backdrop-filter: blur(5px);  
  color: rgb(80, 80, 80);
  font-weight: 100 !important;
  font-family: "futuraStd";
  letter-spacing: 2px;
}
.form-control {
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  padding: 7px;
  background-color: #e0e0e0;
  box-shadow: 4px 4px 10px #c0c0c0, -2px -2px 5px #c5c5c5;
  font-size: 13px;
  color: rgb(117, 117, 117);
  letter-spacing: 1.5px;
  font-weight: 300;
}
input.form-control:focus {
  background-color: #eeeeeebb;
  color: #535353;
  border: 3px solid rgba(241, 241, 241, 0.822);
  outline: none !important;
  box-shadow: none;
}
.create-landing{
  color: rgb(0, 0, 0);
  font-family: "futuraStd";
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px !important;
  letter-spacing: 3px;
}
.btn-landing{
  background: rgb(247, 85, 185);
  color: white;
  border: none;
  width: 150px;
  height: 35px;
  border-radius: 7px;
}
.container-btn {
  gap: 30px;
  margin-bottom: 20px;
}
.btn-landing.btn-lan{
  background: rgb(145, 143, 143);
}
.form-outline{
  position: relative;
}
.container-login{
  background: transparent;
  border: none;
  width: 55px;
}

.form-label{
  font-size: 14px;
  margin-top: 4px;
  color: rgb(82, 82, 82);
  font-weight: 200 !important;
}
.password-wrapper {
  position: relative;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem; 
  color: #555; 
}

.password-icon2 {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem; 
  color: #555; 
}
