@font-face {
  font-family: "futuraStd";
  src: local("futuraStd"), url("./Fonts/FuturaStd-Medium.woff2") format("woff2");
}
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

/* header front */

.header-links {
  display: flex;
  background: transparent;
}
.header-links p {
  color: #ffffff;
  background: transparent;
  font-family: "futuraStd";
  font-weight: 900;
  transition: all 0.4s ease;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.header-links p:hover {
  color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}
.header {
  position: relative;
  background: #0e0e0e;
  padding: 2rem;
  width: 100%;
  gap: auto;
  overflow-x: hidden;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header p {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.toggleMenuHome {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 1);
  background-color: #ececec48;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  gap: 20px;
  padding: 20px 0;
  z-index: 1201;
  text-align: center;
  transition: transform 0.5s ease-out;
  transform: translateX(-100%);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(24, 24, 24, 0.795);
  z-index: 1200;
  display: none;
}
.overlay.open {
  display: block;
}
.toggleMenuHome.open {
  transform: translateX(0);
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  color: white;
  z-index: 1202;
  letter-spacing: 1.5px;
  font-family: "futuraStd";
  font-size: 15px !important;
  border-bottom: none !important;
  text-transform: capitalize !important;
  cursor: pointer;
}
.textMenu {
  cursor: pointer;
  font-family: "futuraStd";
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu-content p:hover {
  color: #888;
}
.nameToggleSub {
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 2px;
}

/* SUBMENU */

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  background: transparent;
  margin: 8px 0 8px 150px;
  color: #131313;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  border-left: 1px solid #222222;
}

.submenu p {
  padding-left: 1rem;
  text-align: left;
  text-transform: capitalize !important;
  margin-bottom: 20px;
}
.submenu.open {
  max-height: 600px;
}

/* FOOTER */

.footer {
  bottom: 0;
  left: 0;
  background: #0e0e0e;
  box-shadow: 0 -8px 10px -6px rgba(0, 0, 0, 1);
  padding: 1.5rem;
  height: fit-content;
  font-family: "futuraStd";
  margin-bottom: -10px;
  display: flex;
  gap: 30px;
  letter-spacing: 1.2px;
  justify-content: space-between;
  align-items: start;
  color: rgb(150, 150, 150);
  width: 100%;
  overflow: hidden;
}

.footer span {
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 14px;
}

.footer p {
  font-weight: bold;
  font-size: 25px;
  font-family: "futuraStd";
  color: rgb(150, 150, 150);
}

/* LANDING */
.landing {
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  background: #0e0e0e;
}

.contentLanding {
  position: relative;
  background: #0e0e0e;
  margin-top: 180px;
  margin-bottom: 200px;
  /* flex: 1; */
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 !important;
  z-index: 1200;
}
.menuLanding {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-right: 20px;
  cursor: pointer;
  padding: 5px;
}

/* LANDING - SEE ALL COLLECT */

.seeAllCollections {
  font-size: 30px;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
  z-index: 1200;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.movingHome {
  margin-right: 50px;
  display: inline-block;
}
.movingText {
  display: flex;
  animation: moveRight 20s linear infinite;
  cursor: default;
  font-family: "Bacasime Antique";
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.178);
}

.movingContainer {
  overflow: hidden;
  position: relative;
}
.menuAdmin {
  font-size: 14px;
  font-weight: 200;
  color: #000000;
  text-transform: capitalize;
  font-family: "futuraStd";
  cursor: pointer;
  letter-spacing: 1.3px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}
.menuLogin {
  font-size: 14px;
  font-weight: 200;
  padding-top: 100px;
  color: #000000;
  text-transform: capitalize;
  font-family: "futuraStd";
  cursor: pointer;
  letter-spacing: 1.3px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}
.containerLogin {
  display: flex;
  justify-content: center;
}

.menuLogin::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.menuAdmin::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.menuLogin:hover {
  border-bottom-color: #000000;
}
.menuAdmin:hover {
  border-bottom-color: #000000;
}

/* NAV BAR LANDING */

.menuHome {
  font-size: 15px;
  font-weight: 200;
  color: #a7a7a7;
  font-family: "futuraStd";
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  letter-spacing: 1.3px;
  transition: border-bottom-color 0.3s ease;
}

.menuHome:hover {
  border-bottom-color: #a7a7a7;
}

.titleLanding {
  text-align: center;
  cursor: default;
  width: 100%;
  transition: font-size 0.3s ease, background-color 0.3s;
  position: sticky;
}

.LandingWelc {
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 1);
  font-family: "futuraStd";
  transition: font-size 0.3s ease, background-color 0.3s, margin-left 0.3s ease;
  margin-bottom: 0;
  color: #020202;
  font-weight: 100;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 15px;
}
.loginTitle {
  color: whitesmoke;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.github {
  width: 50px;
  cursor: pointer;
  transition: all 0.6s ease;
  z-index: 1001;
}

.github:hover {
  scale: 1.1;
}

.imgGoogle {
  width: 70%;
}

/* CAROUSEL LANDING GUCCI */

.landingClassForCarousel .carousel.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landingClassForCarousel .carousel-inner {
  width: 30%;
  margin: 0 auto;
}
.landingClassForCarousel .carousel.slide video {
  width: 100%;
  height: auto;
}
.landingClassForCarousel .carousel-fade .carousel-item {
  display: flex;
  justify-content: center;
}
.landingClassForCarousel .carousel-item img {
  width: 100%;
  height: auto;
}
.landingClassForCarousel .carousel .exploreButton {
  position: sticky;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  font-weight: 500;
  font-family: "futuraStd";
  letter-spacing: 1.8px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
}
.exploreButton:hover {
  border: 2px solid rgba(255, 255, 255, 0.87);
}
.exploreButton.fixedButton {
  position: fixed;
  bottom: 70%;
  left: 50%;
  font-family: "futuraStd";
  letter-spacing: 1.8px;
  font-weight: 500;
  transform: translateX(-50%);
  background-color: #000;
  border: none !important;
  transition: all 0.6s ease;
  color: #fff;
  z-index: 1000;
}
.exploreButton.fixedButton:hover {
  scale: 1.04;
}
.exploreButton {
  z-index: 1000;
  transition: opacity 0.3s ease;
}
.exploreButton.fadeOut {
  opacity: 0;
}

.landingClassForCarousel .carousel-control-prev,
.landingClassForCarousel .carousel-control-next {
  height: 100%;
  width: 3%;
  z-index: 10;
}

.landingClassForCarousel .carousel-control-prev-icon,
.landingClassForCarousel .carousel-control-next-icon {
  height: 100%;
  width: 100%;
}
.brandContainer {
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 180px;
}

.brandName {
  display: flex;
  justify-content: center;
  letter-spacing: 2.5px;
  padding: 10px;
  font-size: 35px;
  cursor: default;
  font-family: "futuraStd";
  color: rgba(156, 156, 156, 0.329);
  background: rgba(7, 7, 7, 0.966);
}

/* CAROUSEL LV */

.landingClassForCarousel .carousel-indicators {
  position: absolute;
  bottom: 20px;
  background-color: transparent;
  border: none;
}
.video-carousel-inner {
  width: 100%;
  margin: 0 auto;
}

.video-carousel-item {
  position: relative;
  overflow: hidden;
}

.video-control {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;
  position: absolute;
  bottom: 35px;
  right: 7vw;
  z-index: 10;
  background: transparent;
}

.volume-slider {
  -webkit-appearance: none;
  display: inline-block;
  width: 120px;
  height: 5px;
  border-radius: 5px;
  background: #6464643f;
  outline: none;
  padding: 0;
  transition: background 0.2s ease;
  z-index: 10;
}
.video-carousel-item img {
  height: 25px;
  background: transparent;
  transition: all 0.3s ease;
}
.video-carousel-item img:hover {
  scale: 1.1;
}
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  transition: background 0.2s ease;
}

.volume-slider:hover::-webkit-slider-thumb {
  background: #c4bfc1;
}
.pause-play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 35px;
  left: 7vw;
  z-index: 10;
  background: transparent;
}

/* MODAL LOGIN */
.loginModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.452);
  z-index: 9999;
}

.login-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 320px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.instruction-text {
  color: rgb(150, 150, 150);
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-card button {
  cursor: pointer;
}

.normal-signin {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  margin-top: 25px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: rgb(255, 145, 222);
  color: #f2f2f2;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.2s;
}

.normal-signin:hover {
  background-color: transparent;
  color: rgb(250, 84, 200);
  border: 2px solid rgb(250, 84, 200);
}

.create-account {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #dfdfdf;
  color: rgb(255, 121, 215);
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.2s;
}

.create-account:hover {
  background-color: transparent;
  color: rgb(250, 84, 200);
  border: 2px solid rgb(250, 84, 200);
}

.alternate-login {
  border: 2px solid yellow;
  margin-top: 5px;
  border-radius: 2em;
}

.instruction-text {
  margin-top: 20px;
  background: transparent;
  color: #575757;
}

.containerLogin {
  background: transparent;
  border: none;
}
.loginGoogle {
  background: transparent;
}

.boxLog {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 5px;
  background: transparent;
}

/* REGISTER */

.input-underline {
  border: none;
  border-bottom: 2px solid #cccccca2;
  outline: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 13px;
  letter-spacing: 1.5px;
  transition: border-color 0.3s;
  width: 70%;
  background-color: transparent;
}

.input-underline:focus {
  border-color: #faa5cc;
}
.input-underline::-webkit-input-placeholder {
  transition: transform 0.3s, opacity 0.3s;
}
.input-underline::-moz-placeholder {
  transition: transform 0.3s, opacity 0.3s;
}
.input-underline:-ms-input-placeholder {
  transition: transform 0.3s, opacity 0.3s;
}
.input-underline::placeholder {
  transition: transform 0.3s, opacity 0.3s;
}
.input-underline:focus::-webkit-input-placeholder {
  transform: translateY(-10px);
  opacity: 0;
}
.input-underline:focus::-moz-placeholder {
  transform: translateY(-10px);
  opacity: 0;
}
.input-underline:focus:-ms-input-placeholder {
  transform: translateY(-10px);
  opacity: 0;
}
.input-underline:focus::placeholder {
  transform: translateY(-10px);
  opacity: 0;
}
.register-btn {
  margin-top: 15px;
  border: none;
  font-weight: 600;
  padding: 4px;
  width: 150px;
  border-radius: 4px;
  letter-spacing: 1.2px;
  color: rgb(250, 84, 200);
  background: wheat;
  transition: all 0.6s ease;
}

.register-btn:hover {
  color: fuchsia;
  scale: 1.04;
}

.signIn {
  margin-top: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.2px;
  color: rgb(250, 84, 200);
  transition: all 0.6s ease;
}

.signIn:hover {
  scale: 1.1;
}

/******************* CHECKOUT ******************************/

.checkOut {
  padding: 25px;
  height: 100vh;
  background: #111111;
}

/****************************** ABOUT ***************** */

.about-container {
  height: 100vh;
  background: #0e0e0e;
}

/* ********************NEW LANDING ***************************** */

.newLanding {
  height: 100vh;
  background-image: url("../public/images/landing.png");
  background-size: cover;
}
.nav-landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(5px);
}
.home-click {
  letter-spacing: 1.8px !important;
  color: rgb(0, 0, 0);
  letter-spacing: 1.5px;
  cursor: pointer;
  font-family: "futuraStd";
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}
.home-click:hover {
  border-bottom-color: rgb(0, 0, 0);
}

.rvl-landing {
  margin-top: 10px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2.5px !important;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  font-family: "futuraStd";
}
/* TOGGLE MENU LANDING */
.toggleMenuLanding {
  position: fixed !important;
  top: 0;
  right: auto;
  left: 0;
  width: 530px;
  height: 100vh;
  background-color: #f5f5f562;
  box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  z-index: 1201;
  text-align: center;
  transition: transform 0.5s ease-out;
  transform: translateX(-100%);
}
.toggleMenuLanding.open {
  transform: translateX(0);
}

.menu-toggle-landing {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0 0 20px;
  right: auto;
  color: rgb(0, 0, 0);
  font-weight: 600;
  z-index: 1202;
  letter-spacing: 2.5px;
  font-family: "futuraStd";
  font-size: 15px;
  border-bottom: none;
  text-transform: capitalize;
  cursor: pointer;
}

/* Registro de usuario */
.row {
  height: 80px;
}
.card-login {
  width: 530px;
  background: #ffffff8c;
  backdrop-filter: blur(5px);
  color: rgb(80, 80, 80);
  font-weight: 100 !important;
  font-family: "futuraStd";
  letter-spacing: 2px;
}
.form-control {
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  padding: 7px;
  background-color: #e0e0e0;
  box-shadow: 4px 4px 10px #c0c0c0, -2px -2px 5px #c5c5c5;
  font-size: 13px;
  color: rgb(117, 117, 117);
  letter-spacing: 1.5px;
  font-weight: 300;
}
input.form-control:focus {
  background-color: #eeeeeebb;
  color: #535353;
  border: 3px solid rgba(241, 241, 241, 0.822);
  outline: none !important;
  box-shadow: none;
}
.create-landing {
  color: rgb(0, 0, 0);
  font-family: "futuraStd";
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px !important;
  letter-spacing: 3px;
}
.btn-landing {
  background: rgb(247, 85, 185);
  color: white;
  border: none;
  width: 150px;
  height: 35px;
  border-radius: 7px;
}
.container-btn {
  gap: 30px;
  margin-bottom: 20px;
}
.btn-landing.btn-lan {
  background: rgb(145, 143, 143);
}
.form-outline {
  position: relative;
}
.container-login {
  background: transparent;
  border: none;
  width: 55px;
}

.form-label {
  font-size: 14px;
  margin-top: 4px;
  color: rgb(82, 82, 82);
  font-weight: 200 !important;
}
.password-wrapper {
  position: relative;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
}

.password-icon2 {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
}

/* VIEW -- COLLECTIONS */

.collection-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  width: 100%;
  background: #0e0e0e;
}

.container-carousel-view {
  display: flex;
  position: relative;
  z-index: 1;
}

.custom-carousel-container-collection {
  width: 50%;
}

.custom-carousel-collection,
.carousel-inner-collection,
.carousel-item-collection,
.carousel-item-collection img {
  height: 100%;
  width: 100%;
}
.carousel-control-prev {
  left: 0;
}
.carousel-control-next {
  right: 0;
}

/* Carousel images */

.carousel-item-background {
  position: relative;
}
.carousel-item-background img {
  position: relative;
  z-index: 0;
}
.carousel-item-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent, #0e0e0e);
  z-index: 1;
}

/* CARD VIEWS CATEGORY */

.card-carousel-container {
  margin-top: -90px;
  position: relative;
  z-index: 6;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}

.card-view {
  width: 255px;
  height: 340px;
  background: linear-gradient(rgba(204, 204, 204, 0.74), #0e0e0e);
  border: none;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 3px 3px rgba(85, 85, 85, 0.363);
}

.background-card {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}
.background-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.background-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(20, 20, 20, 0.322);
  pointer-events: none;
  z-index: 4;
}
.card-view::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.336);
  pointer-events: none;
  z-index: 5;
}

.product-item {
  width: 20%;
}
.card-carousel-item h4,
.color-options {
  width: 100%;
  text-align: center;
}
.color-swatch {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
}
.color-swatch::after {
  content: "";
  position: absolute;
  width: 80%;
  transform: translateX(-50%) scaleX(0);
  height: 1px;
  left: 50%;
  bottom: -5px;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.color-swatch:hover::after {
  transform: translateX(-50%) scale(1);
}
.color-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  z-index: 6;
  width: 100%;
}
.colors-container {
  display: flex;
  gap: 6px;
}
.name-card-collection {
  letter-spacing: 1.5px;
  font-family: "futuraStd";
  text-transform: uppercase;
  font-size: 13px;
  color: rgb(255, 250, 250);
  font-weight: 100;
  margin-top: 5px;
  line-height: 1.5;
}

.price-card-collection {
  letter-spacing: 1.5px;
  font-family: "futuraStd";
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
  display: flex;
  margin-right: 15px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  color: rgb(184, 184, 184);
  font-weight: 200;
}
.color-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

  z-index: 6;
}
.card-carousel-inner {
  width: 100%;
  height: 100%;
}
.card-collection-carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-card,
.background-card img {
  margin: 0;
  border: none;
  padding: 0;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 5;
}
.card-view,
.card-carousel,
.card-carousel-inner,
.card-collection-carousel-item,
.background-card {
  overflow: hidden;
}
.carousel-control-prev {
  left: 5px;
}
.carousel-control-next {
  right: 5px;
}

.card-view:hover .background-card img {
  transform: scale(1.2);
}
.collections-container-all {
  margin-bottom: 100px;
  margin-top: 30px;
}

/* BUTTON SCROLL TO TOP */
.scroll-to-top-btn {
  display: block;
  cursor: pointer;
  color: rgb(158, 158, 158);
  transition: all 0.4s ease;
}
.arrow-card {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-right: 20px;
}
.scroll-to-top-btn:hover {
  color: #f3e7f3;
}
/* ******* */

.container-carousel-view {
  position: relative;
}

.carousel-overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.carousel-overlay-title h2 {
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-family: "futuraStd";
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgb(194, 193, 193);
}

.carousel-overlay-title p {
  font-size: 0.9rem;
  color: rgb(194, 193, 193);
  font-weight: 200;
  font-family: "futuraStd";
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.collection-name {
  font-size: 15px;
  color: rgb(94, 94, 94);
  margin-left: 30px;
  text-transform: uppercase;
  font-family: "futuraStd";
  letter-spacing: 1.5px;
}

.collection-brandName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "futuraStd";
  letter-spacing: 2.5px;
  color: rgb(204, 204, 204);
}

/* CREATE ACCOUNT */
.createAccount .p-toast-message {
  background-color: rgb(0, 0, 0, 0.5) !important;
  color: white !important;
  font-family: LVRegular !important;
  border-left: 6px solid #ffffff4e !important;
}

.createAccount .p-toast-icon-close {
  background-color: rgba(0, 0, 0, 0.251) !important;
  color: white !important;
  width: 20px !important;
  height: 20px !important;
}

.createAccount .p-toast-icon-close svg {
  width: 10px !important;
  height: 10px !important;
}

/* PRIME TOASTT */

.p-toast-message.p-toast-message-success .p-toast-message-icon {
  width: 20px !important;
  color: rgb(219, 219, 219) !important;
}

.p-toast-message {
  background-color: rgb(0, 0, 0, 0.5) !important;
  color: white !important;
  font-family: LVRegular;
  border-left: 6px solid #ffffff4e !important;
}

.p-toast-icon-close {
  background-color: rgba(0, 0, 0, 0.251) !important;
  color: white !important;
  width: 20px !important;
  height: 20px !important;
}

.p-toast-icon-close svg {
  width: 10px !important;
  height: 10px !important;
}

.p-toast-message.p-toast-message-success .p-toast-message-icon {
  width: 20px !important;
  color: rgb(219, 219, 219) !important;
}

/* BIRTHDAY CREATE ACCOUNT */

.p-calendar input {
  width: 100% !important;
  border: 1px solid #eeeded !important;
  border-radius: 0.1rem !important;
  padding: 1.5vh 1vw !important;
  font-size: 13.5px !important;
  letter-spacing: 0.5px !important;
  font-family: LVRegular !important;
  transition: border 0.4s ease !important;
}

.p-calendar input:hover {
  border-bottom: 1px solid #1f1f1f !important;
}

.p-calendar input::placeholder {
  font-weight: 100 !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  letter-spacing: 1px !important;
  font-size: 10px !important;
}

.p-calendar input:focus {
  outline: none !important;
  border: 1px solid #e4e4e4 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #1f1f1f !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  font-family: LVRegular !important;
  font-size: 15px;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
  font-family: LVRegular;
  font-size: 14px;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.p-datepicker table {
  font-family: LVRegular;
}

.p-datepicker table th {
  text-align: center;
}

.p-datepicker table td {
  font-size: 13px;
}

.p-datepicker .p-monthpicker .p-monthpicker-month {
  font-family: LVRegular;
  font-size: 14px;
  letter-spacing: 0.4px;
}

.p-datepicker-decade {
  font-family: LVRegular;
  font-size: 13px;
}

.p-datepicker .p-yearpicker .p-yearpicker-year {
  font-family: LVRegular;
  font-size: 13.5px;
}

.createAccount .p-dropdown {
  width: 100% !important;
  border: 1px solid #eeeded !important;
  border-radius: 0.1rem !important;
  font-size: 13.5px !important;
  letter-spacing: 0.5px !important;
  font-family: LVRegular !important;
  transition: border 0.4s ease !important;
}

.createAccount .p-dropdown:hover {
  border-bottom: 1px solid #1f1f1f !important;
}

.createAccount .p-focus {
  outline: none !important;
  border: 1px solid #e4e4e4 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #1f1f1f !important;
}

.createAccount .p-dropdown .p-dropdown-label {
  font-weight: 100 !important;
  letter-spacing: 1px !important;
  font-family: LVRegular !important;
  font-size: 11.5px !important;
  margin: 0 !important;
  padding: 2.09vh 1vw !important;
}

.createAccount .p-dropdown .p-dropdown-trigger {
  width: 1.5rem !important;
  margin-right: 0.5vw;
}

.createAccount .p-dropdown .p-dropdown-trigger svg {
  width: 10px !important;
}

.p-dropdown-item[aria-label="Male"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

.p-dropdown-item[aria-label="Female"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

.paypal-button-tagline {
  display: none !important;
}

.form-select,
.form-control {
  box-shadow: none !important;
  border: 1px solid lightgray !important;
}

.grid-div {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-div.active {
  background-color: #b02e59;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pac-container {
  border-radius: 0.3rem !important;
}

.pac-item {
  padding: 0.5rem !important;
  font-family: "Quicksand" !important;
}

.pac-icon {
  background-image: url("https://nerdy-my-ecommerce.s3.us-east-2.amazonaws.com/FrontAssets/Nacho/map-marker-svgrepo-com.svg") !important;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}

/* CHECKOUT */

.carousel-control-prev {
  height: 20% !important;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-next {
  height: 20% !important;
  top: 50%;
  transform: translateY(-50%);
}

.checkout .carousel-control-next-icon {
  background-image: url("https://nerdy-my-ecommerce.s3.us-east-2.amazonaws.com/FrontAssets/Nacho/rightArrow");
}

.checkout .carousel-control-prev-icon {
  background-image: url("https://nerdy-my-ecommerce.s3.us-east-2.amazonaws.com/FrontAssets/Nacho/left-svgrepo-com.png");
}

.collection-card .carousel-control-prev-icon {
  content: "<" !important;
  height: 1.5vh;
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
}

.collection-card .carousel-control-next-icon {
  content: ">" !important;
  height: 1.5vh;
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
}

.collection-card:hover .carousel-control-prev-icon,
.collection-card:hover .carousel-control-next-icon {
  opacity: 1;
  visibility: visible;
}

.collection-card .carousel-item {
  height: 352px !important;
  width: 352px !important;
}

/* MP BUTTON */

.wallet-button-3fVDUE.svelte-30iu5a {
  margin-top: -0.8rem;
}

.default-brAWXw.svelte-16x6ay9.svelte-16x6ay9 span {
  color: whitesmoke !important;
}

.wallet-label-container-2OnpcO.svelte-1b1h3kn {
  display: none !important;
}

/* STRIPE BUTTON */

.stripeButton {
  border: none;
  background-color: #7a72ff;
  color: whitesmoke;
  padding: 0.5rem 1rem;
  font-size: 13px;
  border-radius: 0.1rem;
  transition: all 0.3s ease;
}

.stripeButton:hover {
  filter: brightness(110%);
}

/* CHECKOUT SWAL */
.confirmSwalCheckout {
  border: none;
  background-color: #ba3763;
  font-size: 12px;
  padding: 0.5rem 1rem;
  color: whitesmoke;
  letter-spacing: 0.5px;
  margin-right: 0.7rem;
  transition: filter 0.3s ease;
}

.confirmSwalCheckout:hover {
  filter: brightness(110%);
}

.denySwalCheckout {
  border: none;
  background-color: #afaeae;
  font-size: 12px;
  padding: 0.5rem 1rem;
  color: whitesmoke;
  letter-spacing: 0.5px;
  margin-right: 0.7rem;
  transition: filter 0.3s ease;
}

.denySwalCheckout:hover {
  filter: brightness(110%);
}

.checkoutProductModal .carousel-indicators {
  background-color: rgba(21, 20, 20, 0.234);
}

/* NEW CHANGES */

.collection-card .carousel-control-prev-icon {
  content: "<" !important;
  height: 1.5vh;
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
}

.collection-card .carousel-control-next-icon {
  content: ">" !important;
  height: 1.5vh;
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
}

.collection-card:hover .carousel-control-prev-icon,
.collection-card:hover .carousel-control-next-icon {
  opacity: 1;
  visibility: visible;
}

.collection-card .carousel-item {
  width: 100% !important;
}

.carousel-item.dolce {
  height: 430px !important;
}

.carousel-item.lv img {
  background-image: linear-gradient(
    330deg,
    hsl(0deg 0% 100%) 0%,
    hsl(344deg 0% 99%) 16%,
    hsl(344deg 0% 97%) 36%,
    hsl(344deg 0% 96%) 49%,
    hsl(344deg 0% 95%) 59%,
    hsl(344deg 0% 93%) 68%,
    hsl(344deg 0% 92%) 77%,
    hsl(344deg 0% 91%) 85%,
    hsl(344deg 0% 89%) 93%,
    hsl(0deg 0% 88%) 100%
  );
}
.carousel-item.ourStore {
  max-height: 350px !important;
}
.carousel-item.ourStore.dolce img {
  margin-top: -99.24px;
}

.filterSeeAll .p-dropdown {
  width: 100% !important;
  border: 1px solid #eeeded !important;
  border-radius: 0.1rem !important;
  font-size: 13.5px !important;
  letter-spacing: 0.5px !important;
  font-family: LVRegular !important;
  transition: border 0.4s ease !important;
}

.filterSeeAll .p-dropdown:hover {
  border-bottom: 1px solid #1f1f1f !important;
}

.filterSeeAll .p-focus {
  outline: none !important;
  border: 1px solid #e4e4e4 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #1f1f1f !important;
}

.filterSeeAll .p-dropdown .p-dropdown-label {
  font-weight: 100 !important;
  letter-spacing: 1px !important;
  font-family: LVRegular;
  font-size: 11.5px !important;
  margin: 0 !important;
  padding: 2.09vh 1vw !important;
}

.filterSeeAll .p-dropdown .p-dropdown-trigger {
  width: 1.5rem !important;
  margin-right: 0.5vw;
}

.filterSeeAll .p-dropdown .p-dropdown-trigger svg {
  width: 10px !important;
}

.createAccount .p-dropdown {
  width: 100% !important;
  border: 1px solid #eeeded !important;
  border-radius: 0.1rem !important;
  font-size: 13.5px !important;
  letter-spacing: 0.5px !important;
  font-family: LVRegular !important;
  transition: border 0.4s ease !important;
}

.createAccount .p-dropdown:hover {
  border-bottom: 1px solid #1f1f1f !important;
}

.createAccount .p-focus {
  outline: none !important;
  border: 1px solid #e4e4e4 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #1f1f1f !important;
}

.createAccount .p-dropdown .p-dropdown-label {
  font-weight: 100 !important;
  letter-spacing: 1px !important;
  font-family: LVRegular !important;
  font-size: 11.5px !important;
  margin: 0 !important;
  padding: 2.09vh 1vw !important;
}

.createAccount .p-dropdown .p-dropdown-trigger {
  width: 1.5rem !important;
  margin-right: 0.5vw;
}

.createAccount .p-dropdown .p-dropdown-trigger svg {
  width: 10px !important;
}

.p-dropdown-item[aria-label="Male"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

.p-dropdown-item[aria-label="Female"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

.p-dropdown-item[aria-label="Bags"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

.p-dropdown-item[aria-label="Accessories"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

.p-dropdown-item[aria-label="Sneakers"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

.p-dropdown-item[aria-label="Heels"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

.p-dropdown-item[aria-label="Sunglasses"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

.p-dropdown-item[aria-label="Please select a category"] {
  font-family: LVRegular !important;
  font-size: 12px !important;
  padding: 0.8rem 1rem !important;
}

/* NEW CHANGES ENDS */

/* DETAIL  */

.detail-container {
  display: flex;
  height: 100%;
  background: #cecece;
}
.colors-detail {
  margin-bottom: 20px;
}
.color-sample {
  width: 30px !important;
  height: 30px !important;
  border-radius: 40px;
  cursor: pointer;
}
.image-section {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  width: 43%;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.582);
}

.product-image {
  width: 100%;
  display: block;
}
.container-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.info-section {
  flex: 1;
  color: rgb(0, 0, 0);
  font-family: "futuraStd";
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 30px;
}
.btnDetail {
  width: 180px;
  height: 40px;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(151, 121, 250));
  border: none;
  font-family: "futuraStd";
  letter-spacing: 1px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(139, 113, 255);
  transition-duration: 0.3s;
}
.cartIcon {
  width: 14px;
  height: fit-content;
}

.cartIcon path {
  fill: white;
}

.btnDetail:active {
  transform: translate(2px, 0px);
  box-shadow: 0px 1px 0px rgb(139, 113, 255);
  padding-bottom: 1px;
}
.btnDetail:hover {
  scale: 1.05;
}
.color-sample-dt {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 4px;
  border: 1px solid rgba(233, 233, 233, 0.582);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease;
}

.color-sample-dt::after {
  content: "";
  position: absolute;
  width: 80%;
  transform: translateX(-50%) scaleX(0);
  height: 1px;
  left: 50%;
  bottom: -5px;
  background-color: rgb(22, 22, 22);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.color-sample-dt:hover::after {
  transform: translateX(-50%) scale(1);
}

.brandDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  color: #ffffff;
  text-transform: uppercase;
}
.nameDetail {
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #525252;
  font-weight: 500;
  text-transform: capitalize;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.priceDetail {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #525252;
}
.image-section::-webkit-scrollbar {
  width: 3px;
}

.image-section::-webkit-scrollbar-track {
  background: transparent;
}

.image-section::-webkit-scrollbar-thumb {
  background: rgb(152, 122, 253);
}

.image-section::-webkit-scrollbar-thumb:hover {
  background: rgb(169, 144, 252);
}

.detail-menu {
  position: fixed;
  font-family: "futuraStd";
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.712);
  overflow-y: auto;
  z-index: 2002;
  transform: translateX(100%);
  transition: all 0.6s ease;
}
.container-detail-product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 50px;
}
.detail-menu h2 {
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.detail-menu li {
  margin-bottom: 4px;
  font-size: 14px;
  letter-spacing: 1.2px;
  color: black;
}
.ul-det {
  margin-bottom: 4px;
  font-size: 14px;
  letter-spacing: 1.2px;
  color: black;
}

.open .detail-menu {
  transform: translateX(0);
}

.bntclose {
  background: transparent;
  font-size: 20px;
  border: none;
}
.title-pdetail {
  text-transform: uppercase;
  color: rgb(83, 83, 83);
  text-decoration: underline;
  margin-top: 30px;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.specifications {
  font-size: 13px;
  color: #303030;
  letter-spacing: 1px;
}
.prod-detail {
  margin-top: 30px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}
.description-detail {
  color: #444444;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1.3px;
}
.close-det {
  display: flex;
  justify-content: flex-end;
}
.prod-detail:hover {
  border-bottom-color: black;
}
.subtitle-detail {
  cursor: pointer;
  width: fit-content;
  font-size: 16px;
  color: rgb(37, 34, 34);
  font-weight: 500;
  margin-top: 50px;
  letter-spacing: 1.5px;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.subtitle-detail:hover {
  border-bottom-color: black;
}

.toggle-icon {
  font-size: 25px;
  cursor: pointer;
  margin-left: auto;
}

.section-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.payment-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  flex-direction: column;
  margin-bottom: 20px;
}

.card-det {
  color: rgb(0, 0, 0);
  font-size: 13px;
}

/* CART MODAL */

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.267);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-modal {
  width: 35%;
  max-height: 90%;
  overflow-y: auto;
  background-color: #fff;

  border-radius: 5px;
  padding: 20px;
  position: relative;
}

.cart-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
}

.checkout {
  display: flex;
  justify-content: flex-end;
}
/* BUTTON CART */

.button-cart-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button-add-cart img {
  width: 120px;
  height: 120px;
}
.add-to-cart {
  background: black;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 300 !important;
  padding: 5px 55px 5px 55px;
  font-family: "Louis Vuitton Web";
  border-radius: 2px;
  border: none;
  margin-top: 10px;
}
.add-to-cart:hover {
  background: rgb(12, 12, 12);
  color: rgb(255, 255, 255);
}
.button-add-cart {
  width: 350px;
  height: 220px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "futuraStd";
  background: white;
  border-radius: 3px;
}
.cart-item-details-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  margin-top: -3px;
  margin-bottom: 10px;
}
.color-cart-add {
  font-family: "Louis Vuitton Web";
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1.2px;
}
/* MODAL CARTBUTTON - PRODUCT DETAIL */

/* .button-add-cart{
  position: fixed;
  top: 17%;
  left: 73%;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-cart-container-title{
  background-color: white;
  padding: 20px;
  border-radius: 8px;

} */

/* SIZES DETAIL */

.size-selection {
  margin: 5px 0 20px 0;
}

.size-selection select {
  padding: 7px 10px;
  font-size: 13px;
  width: 185px;
  color: #3a3a3a;
  font-family: "futuraStd";
  border: none;
  border-radius: 4px;
}
.size-selection select:focus {
  outline: none;
}
.size-selection select.error {
  border-color: red;
  outline: none;
  background: rgba(255, 0, 0, 0.158);
}

.size-error-message {
  font-weight: 100 !important;
  margin-top: 3px;
  font-size: 11px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 77, 77);
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(194, 194, 194, 0.068);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-y: auto;
  z-index: 1208;
}

.cart-drawer {
  width: 40%;
  max-width: 500px;
  background: white;
  height: 100%;
  overflow-y: auto;
  font-family: "futuraStd";
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}
.shop-cart-prod {
  color: rgb(226, 226, 226);
  font-weight: 200;
  font-size: 18px;
  padding-left: 10px;
  letter-spacing: 2px;
}

.cart-container-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}
.data-cart-price {
  display: flex;
  flex-direction: column;
}
.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 20px;
  padding-bottom: 10px;
}

.name-cart {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #474747;
  letter-spacing: 1.2px;
}
.price-cart {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 5px;
}
.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.checkout-cart-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-bottom: 1px solid rgb(192, 192, 192);
}
.checkout-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  background: transparent;
}

.close-modal {
  border: none;
  color: rgb(226, 226, 226);
  background: transparent;
  font-size: 19px;
  padding-bottom: 5px;
  padding-right: 15px;
}
.cart-container-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: black;
  height: 70px;
}

/* DELETE PRODUCT */

.btn-delete {
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btnDelete {
  display: flex;

  justify-content: flex-end;
}
.btn-delete:hover {
  scale: 1.1;
}

/* CART MODAL CARTBUTTON */

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}

.cart-modal-overlay.show {
  display: block;
}

.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1001;
}

/* FONT FACES */
@font-face {
  font-family: "Gucci";
  src: local("Gucci"), url("./Fonts/gucci/gucci.woff") format("woff");
}

@font-face {
  font-family: "LVRegular";
  src: local("LVRegular"),
    url("./Fonts/lv/LouisVuitton-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "LVOblique";
  src: local("LVOblique"),
    url("./Fonts/lv/LouisVuitton-Oblique.woff2") format("woff2");
}

@font-face {
  font-family: "Louis Vuitton Web";
  src: local("Louis Vuitton Web"),
    url("./Fonts/lv/LouisVuitton-Light.woff2") format("woff2");
}

@font-face {
  font-family: "OPTIMA";
  src: local("OPTIMA"), url("./Fonts/fearOfGod/OPTIMA.woff2") format("woff2");
}

@font-face {
  font-family: "navBarTitle";
  src: local("navBarTitle"),
    url("./Fonts/fearOfGod/HelveticaNeueLTPro-Cn.woff2") format("woff2");
}

@font-face {
  font-family: "navBarLinks";
  src: local("navBarLinks"),
    url("./Fonts/fearOfGod/HelveticaNeueLTPro-LtCn.woff2") format("woff2");
}

@font-face {
  font-family: "Futura";
  src: local("Futura"), url("./Fonts/FuturaStd-Medium.woff2") format("woff2");
}
